<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Rehearsal</title>
        <link rel="stylesheet" href="./lib/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="./css/main.css">
        <script src="./lib/jquery/jquery-2.1.3.min.js"></script>
        <script src="./lib/bootstrap/bootstrap.min.js"></script>
        <script src="./lib/angular/angular.min.js"></script>
        <script src="./lib/angular/angular-route.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">Rehearsal</a>
                <div class="navbar-right">
                    <a href="/sign-in" class="btn navbar-top-buffer">Sign in</a>
                    <a href="/sign-up" class="btn btn-success navbar-top-buffer">Create free account</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="jumbotron">
                <h1>Hello, this is Rehearsal</h1>
            </div>
        </div>
    </body>
</html>