<!DOCTYPE html>
<html ng-app="rehearsalApp">
    <head lang="en">
        <meta charset="UTF-8">
        <title>Rehearsal</title>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-route/angular-route.min.js"></script>
        <script src="/js/app.module.js"></script>
        <script src="/js/common/controllers/header.controller.js"></script>
        <script src="/js/common/directives/header.directive.js"></script>
    </head>
    <body>
        <div header></div>
        <div class="container">
            <div class="jumbotron">
                <h1>Hello, this is Rehearsal</h1>
            </div>
        </div>
    </body>
</html>