extends ./templates/layout.jade

block content
   div(class='container')
      div(class='jumbotron')
         h1 Sign in
         if message.length > 0
            div(class='alert alert-danger')!= message
         form(action='/sign-in', method='post')
            div(class='form-group')
               label Email
               input(type='text', class='form-control', name='email')
            div(class='form-group')
               label Password
               input(type='password', class='form-control', name='password')
            button(type='submit', class='btn btn-warning btn-lg') Sign in