<!DOCTYPE html>
<html ng-app="studiosApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Rehearsal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
    <script src="main.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="/">Rehearsal</a>
    </div>
    <div class="container" ng-controller="StudiosController as studiosCtrl">
        <div class="jumbotron">
            <h1>Hello, this is <strong>Rehearsal</strong>.</h1>
        </div>

        <div ng-controller="TabsController as tabsCtrl">
            <div>
                <ul class="nav nav-pills">
                    <li ng-class="{ 'active' : tabsCtrl.isSelected(0) }"><a href ng-click="tabsCtrl.changeTab(0)">List of studios</a></li>
                    <li ng-class="{ 'active' : tabsCtrl.isSelected(1) }"><a href ng-click="tabsCtrl.changeTab(1)">Add new studio</a></li>
                </ul>
            </div>

            <div class="list-group top-buffer" ng-show="tabsCtrl.isSelected(0)">
                <div class="list-group-item" ng-repeat="studio in studiosCtrl.studios">
                    Name: {{studio.name}};
                    City: {{studio.fullAddress.city}};
                    District: {{studio.fullAddress.district}}
                    Underground station: {{studio.fullAddress.undergroundStation}}
                    Address: {{studio.fullAddress.address}}
                    Phones: {{studio.phones}}
                    Email: {{studio.email}}
                    Web site: {{studio.website}}
                    Description: {{studio.description}}
                    <a href class="btn btn-danger btn-xs pull-right" ng-click="studiosCtrl.deleteStudio(studio._id)">Delete</a>
                </div>
            </div>

            <div class="top-buffer" ng-show="tabsCtrl.isSelected(1)">
                <form name="addNewStudioForm" ng-submit="studiosCtrl.addNewStudio()">
                    <p>Add new rehearsal studio</p>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter name" ng-model="studiosCtrl.newStudio.name"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter city" ng-model="studiosCtrl.newStudio.fullAddress.city"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter district" ng-model="studiosCtrl.newStudio.fullAddress.district"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter undergroundStation" ng-model="studiosCtrl.newStudio.fullAddress.undergroundStation"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter address" ng-model="studiosCtrl.newStudio.fullAddress.address"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter phones" ng-model="studiosCtrl.newStudio.phones"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter email" ng-model="studiosCtrl.newStudio.email"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter website" ng-model="studiosCtrl.newStudio.website"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter description" ng-model="studiosCtrl.newStudio.description"/>
                    </div>
                    <button type="submit" class="btn btn-success" ng-click="tabsCtrl.changeTab(0)">Add new studio</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>